*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(241, 229, 229)
    
}
.header-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #da4949;
    font-family: 'Montserrat', sans-serif;
}
.logo img {
    width: 200px;
    height: auto;
}
@media (max-width: 780px){
    .header-1{
        padding: 20px;
        flex-direction: column;
    }
    .menu-bar {
        margin-left: 50px;
    }
    .profile img{
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        object-fit: cover;
    
    }
    .text-app{
        text-align: center;
    }
    .right {
        flex-direction: column !important;
        text-align: center !important;
    }
    .inicio p {
        width: 90%;
        margin-left: 30px;
    }
}
header{
    background-color: #da4949;
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Bebas Neue', cursive;;
}
nav{
    flex: 1;
    text-align: right;
    font-family: 'Bebas Neue', cursive;;
 
}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    margin-right: 10px;
    font-family: 'Geo', sans-serif;
    font-size: 130%;
    text-decoration: none;
    margin-right: 30px;
}
nav a{

    text-decoration: none;
    color: #ebebeb;
}
nav a:hover{
    color: #ffffff;
    transition: 0.4s ;
}

.action{
   
    position: relative;
}
.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.action .menu{
    position:absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: white;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}
.action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu ul li:hover a{
    color: #696969;
}
.img_back{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    font-family: 'Geo', sans-serif;
    color: #000000;
    text-align: center;
    margin: 80px;
    position: relative;
    line-height: 60px;
    font-size: 40px;
}
.title::after{
    content: '';
    background:#da4949;
    width: 150px;
    height: 5px;
    border-radius: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.description{
    font-family: 'Geo', sans-serif;
    color: #D1D1D1;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
}

.button {
    background-color: #da4949; /* Green */
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.inicio{
	text-align: center;
}	

.title2{
    font-family: 'Geo', sans-serif;
    color: #D1D1D1;
    text-align: center;
    margin: 80px;
    position: relative;
    line-height: 60px;
    font-size: 40px;
}
.title2::after{
    content: '';
    background:#D1D1D1;
    width: 190px;
    height: 5px;
    border-radius: 1px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.obs{
    margin-top: 10%;
    font-family: 'Geo', sans-serif;
    color: #D1D1D1;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
}
.footer-distributed{
    font-family: 'Geo', sans-serif; 
}
footer{
    margin-top: 10000px;
	position: relative;
	bottom: 0;
    font-family: 'Geo', sans-serif;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer-distributed .footer-links:hover{
    opacity: 0.65;
    transition: 0.6s;
}
.footer-distributed{
	background-color: #000000;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
    font-family: 'Geo', sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
    font: 'Geo', sans-serif;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
    font: 'Geo', sans-serif;
}

.footer-distributed h3{
	color:  #ffffff;
	font: 'Geo', sans-serif;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 20%;
}

.footer-distributed h3 span{
	color:  #cf3737;
    font: 'Geo', sans-serif;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(241, 229, 229);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cf3737;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #801c1c;
  } 
  @media (max-width: 780px){
      .profile .menu{
          width: 10%;
      }
      .btn-down{
          margin: 10%
      }
      .jogadores img{
          width: 96%
      }
      .jogos img{
         width: 96%;
          margin-top: 10%; 
      }
      .paises img{
        width: 80%;
        margin-left: 15%;
      }
      .estadio img{
        width: 80%;
      }
      .grupo img{
        width: 80%;
      }
      .usuario img{
        width: 90%;
        margin-top: 9%;
      }
      .about-app {
        flex-direction: column;
      }
  }

/* Apps Section */

.apps {
    background-color: rgb(241, 229, 229);
    padding: 30px;
}

.about-app {
    display: flex;
    color: black;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 23px;
    align-content: center;
}

.about-app img {
    height: 200px;
    width: auto;
    margin: 40px;
}

.about-app h2 {
    margin-bottom: 20px;
}

.about-app p {
    margin-bottom: 20px;
}

.right {
    text-align: right; 
    flex-direction: row-reverse;
}

/* Inicio Section */
.inicio h1 {
    margin: 50px;
}